@model IEnumerable<ZmW_FinancialPortal.Models.Transaction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="page-container">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row text-center">
                        @Html.ActionLink("Add Transaction", "Create", "Transactions", new { @class = "btn btn-primary" })
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            @foreach (var tran in Model)
                            {
                                <div class="post-preview text-center" style="border: 3px dashed black; border-radius: 15px; background-color: greenyellow">
                                    <h2 class="post-subtitle">
                                        @tran.TransactionType
                                    </h2>
                                    <span class="text-center">@tran.Description</span>
                                    <span class="text-center">@tran.Amount</span>
                                    <span class="text-center">@tran.EnteredBy</span>
                                    <footer class="text-center">
                                        <h5 class="post-meta">
                                            <b>Posted on @tran.Date</b>
                                        </h5>
                                    </footer>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>