@model IEnumerable<ZmW_FinancialPortal.Models.Transaction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .buttpad {
        padding-left: 15px;
    }
</style>

<body>
    <div class="page-container">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <h3>Transactions</h3>
                    <br />
                    <div class="row buttpad">
                        @Html.ActionLink("Add Transaction", "Create", "Transactions", new { @class = "btn btn-primary" })
                    </div>
                    <hr />
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.Label("Account")
                                </th>
                                <th>
                                    @Html.Label("Description")
                                </th>
                                <th>
                                    @Html.Label("Transaction Type")
                                </th>
                                <th>
                                    @Html.Label("Budget Item")
                                </th>
                                <th>
                                    @Html.Label("Amount")
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => item.MyAccount.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.TransactionType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.BudgetItem.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Amount)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>