@using ZmW_FinancialPortal.Models
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Zachary Wilson">
    <meta name="keywords" content="au theme template">
    <link rel="icon" class="fav" href="~/Img/FinPortFavIcon.jpg" />
    <!-- Title Page-->
    <title>Login - Financial Portal</title>
    <!-- Fontfaces CSS-->
    <link href="~/Scripts/font-face.css" rel="stylesheet" media="all">
    <link href="~/Scripts/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Scripts/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Scripts/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <!-- Bootstrap CSS-->
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" media="all">
    <!-- Vendor CSS-->
    <link href="~/Scripts/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Scripts/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Scripts/animate.css" rel="stylesheet" media="all">
    <link href="~/Scripts/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Scripts/slick.css" rel="stylesheet" media="all">
    <link href="~/Scripts/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Scripts/perfect-scrollbar.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="~/Scripts/theme.css" rel="stylesheet" media="all">
</head>
<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <img src="~/Img/login.jpg" alt="LogIn">
                        </div>
                        <div class="login-form">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.Label("Email", new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Password", new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="login-checkbox">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-12">
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.Label("Remember Me?")
                                            </div>
                                        </div>
                                    </div>
                                    <label>
                                        @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account")
                                    </label>
                                </div>
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Sign In</button>
                            }
                            <div class="register-link">
                                <p>
                                    Don't you have account?
                                    @Html.ActionLink("Sign up here", "Register", "Account")
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery JS-->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Scripts/slick.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/animsition.min.js"></script>
    <script src="~/Scripts/bootstrap-progressbar.min.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/jquery.counterup.min.js"></script>
    <script src="~/Scripts/circle-progress.min.js"></script>
    <script src="~/Scripts/perfect-scrollbar.js"></script>
    <script src="~/Scripts/Chart.bundle.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <!-- Main JS-->
    <script src="~/Scripts/main.js"></script>

</body>
</html>
<!-- end document-->