@model ZmW_FinancialPortal.Models.Household
@using ZmW_FinancialPortal.Helpers
@using ZmW_FinancialPortal.ViewModels

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<style>

    .buttpad {
        padding-left: 15px;
    }

    .house {
        font-family: Georgia;
        color: purple;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 2px;
        font-size: 69px;
        padding-bottom: 10px;
    }

    .house2 {
        font-family: Georgia;
        color: green;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        font-size: 36px;
        padding-bottom: 10px;
        padding-left: 25px;
    }
</style>

<body>
    <div class="page-container">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="house">@Model.Name</span>
                            <span class="house2"><b>Income:</b> $6,000 / Month</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 buttpad">
                            @if (User.IsInRole("HoH"))
                            {
                                @Html.ActionLink("Invite New Member", "Invite", "Invitations", new { id = Model.Id }, new { @class = "btn btn-primary" })
                            }
                            @Html.ActionLink("Leave Household", "Leave", "Households", new { @class = "btn btn-primary" })
                        </div>
                    </div>
                    <hr />
                    <div class="row m-t-25">
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c3">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="zmdi zmdi-account"></i>
                                        </div>
                                        <div class="text">
                                            <h2>@DashHelp.GetHouseholdMemberCount()</h2>
                                            <span>Members</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c3">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="zmdi zmdi-balance"></i>
                                        </div>
                                        <div class="text">
                                            <h2>@DashHelp.GetHouseholdBankCount()</h2>
                                            <span>Accounts</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c3">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="zmdi zmdi-money"></i>
                                        </div>
                                        <div class="text">
                                            <h2>@DashHelp.GetHouseholdTransactionCount()</h2>
                                            <span>Transactions</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c3">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="zmdi zmdi-chart"></i>
                                        </div>
                                        <div class="text">
                                            <h2>@DashHelp.GetHouseholdBudgetItemCount()</h2>
                                            <span>Budget Items</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3 stlye="padding-bottom: 10px">Budgets</h3>
                        <div id="budgetChart" style="height: 250px" class="col-lg-12"></div>
                    </div>
                    <hr />
                    <div class="row">
                        <h3 stlye="padding-bottom: 10px padding-top: 10px">Budget Items</h3>
                        <div id="budgetItemChart" style="height: 250px" class="col-lg-12"></div>

                        @*<div class="col-lg-6">
                <div class="au-card chart-percent-card">
                    <div class="au-card-inner">
                        <h3 class="title-2 tm-b-5">Expenses</h3>
                        <div class="row no-gutters">
                            <div class="col-xl-6">
                                <div class="chart-note-wrap">
                                    <div class="chart-note mr-0 d-block">
                                        <span class="dot dot--blue"></span>
                                        <span>Utilities</span>
                                    </div>
                                    <div class="chart-note mr-0 d-block">
                                        <span class="dot dot--red"></span>
                                        <span>Food</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="percent-chart">
                                    <canvas id="percent-chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
                    </div>
                    @*<div class="row">
            <div class="col-lg-9">
                <h2 class="title-1 m-b-25">Recent Transactions</h2>
                <div class="table-responsive table--no-card m-b-40">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Transaction Type")
                                </th>
                                <th>
                                    @Html.DisplayName("Description")
                                </th>
                                <th>
                                    @Html.DisplayName("Amount")
                                </th>
                                <th>
                                    @Html.DisplayName("Reconciled Amount")
                                </th>
                                <th>
                                    @Html.DisplayName("Entered By")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2018-09-29 05:57</td>
                                <td>100398</td>
                                <td>iPhone X 64Gb Grey</td>
                                <td class="text-right">$999.00</td>
                                <td class="text-right">1</td>
                                <td class="text-right">$999.00</td>
                            </tr>
                            <tr>
                                <td>2018-09-28 01:22</td>
                                <td>100397</td>
                                <td>Samsung S8 Black</td>
                                <td class="text-right">$756.00</td>
                                <td class="text-right">1</td>
                                <td class="text-right">$756.00</td>
                            </tr>
                            <tr>
                                <td>2018-09-27 02:12</td>
                                <td>100396</td>
                                <td>Game Console Controller</td>
                                <td class="text-right">$22.00</td>
                                <td class="text-right">2</td>
                                <td class="text-right">$44.00</td>
                            </tr>
                            <tr>
                                <td>2018-09-26 23:06</td>
                                <td>100395</td>
                                <td>iPhone X 256Gb Black</td>
                                <td class="text-right">$1199.00</td>
                                <td class="text-right">1</td>
                                <td class="text-right">$1199.00</td>
                            </tr>
                            <tr>
                                <td>2018-09-25 19:03</td>
                                <td>100393</td>
                                <td>USB 3.0 Cable</td>
                                <td class="text-right">$10.00</td>
                                <td class="text-right">3</td>
                                <td class="text-right">$30.00</td>
                            </tr>
                            <tr>
                                <td>2018-09-29 05:57</td>
                                <td>100392</td>
                                <td>Smartwatch 4.0 LTE Wifi</td>
                                <td class="text-right">$199.00</td>
                                <td class="text-right">6</td>
                                <td class="text-right">$1494.00</td>
                            </tr>
                            <tr>
                                <td>2018-09-24 19:10</td>
                                <td>100391</td>
                                <td>Camera C430W 4k</td>
                                <td class="text-right">$699.00</td>
                                <td class="text-right">1</td>
                                <td class="text-right">$699.00</td>
                            </tr>
                            <tr>
                                <td>2018-09-22 00:43</td>
                                <td>100393</td>
                                <td>USB 3.0 Cable</td>
                                <td class="text-right">$10.00</td>
                                <td class="text-right">3</td>
                                <td class="text-right">$30.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>*@
                </div>
            </div>
        </div>
    </div>
</body>

@section scripts{
    <script>
    $.post('@Url.Action("GetBudgetDataForBarChart", "MorrisBar")').then
        (function (response) {
            new Morris.Bar({
                element: 'budgetChart',
                data: response,
                xkey: 'Label',
                ykeys: ['Target', 'Actual'],
                labels: ['Target', 'Actual'],
                xLabelAngle: 45,
                gridTextColor: '#555',
                barColors: ['#2A3F54', '#d9534f'],
                preUnits: '$'
            })
        })
    </script>
    <script>
    $.post('@Url.Action("GetBudgetItemDataForBarChart", "MorrisBar")').then
        (function (response) {
            new Morris.Bar({
                element: 'budgetItemChart',
                data: response,
                xkey: 'Label',
                ykeys: ['Actual'],
                labels: ['Actual'],
                xLabelAngle: 45,
                xLabelAngle: 45,
                gridTextColor: '#555',
                barColors: ['#2A3F54'],
                preUnits: '$'
            })
        })
    </script>

}